{% extends 'base.html.twig' %}

{% block title %}Compras!{% endblock %}

{% block body %}

<h2>Compras</h2>
<br>
  <table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ID_COMPRA</th>
            <th>Numero de Factura</th>
            <th>Fecha de emisión</th>
            <th>Proveedor</th>
            <th>Teléfono Proveedor</th>
            <th>Negocio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for row in resultados %}
            <tr>
                <td>{{ row.idcompra }}</td>
                <td>{{ row.numero_factura }}</td>
                <td>{{ row.fecha_emision }}</td>
                <td>{{ row.provedor }}</td>
                <td>{{ row.telefono }}</td>
                <td>{{ row.negocio }}</td>
                <td>
                    <!-- Enlace o botón para abrir la ventana modal -->
                    <a href="#" class="ver-detalles" data-id="{{ row.idcompra }}" data-toggle="modal" data-target="#detalleModal">
                   Ver Detalles
                 </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalleModalLabel">Detalles de la Compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Categoría</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody id="detalleCompra"></tbody>
                     <tfoot>
                     <tr>
                      <td colspan="4" style="text-align: right;"><strong>Total:</strong></td>
                    <td id="totalSubtotal"></td>
                    </tr>
                      </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                responsive: true,
            });

            $('a[data-toggle="modal"]').on('click', function () {
                var idCompra = $(this).data('id');

                // Realizar la petición AJAX para obtener los detalles de la compra
                $.ajax({
                    url: '{{ path('app_detalle_compra', {'id': '__idCompra__'}) }}'.replace('__idCompra__', idCompra),
                    type: 'GET',
                    success: function (response) {
                        // Construir el contenido HTML de los detalles de la compra
                        var detallesHtml = '';
                        var totalSubtotal = 0;
                        for (var i = 0; i < response.length; i++) {
                            var detalle = response[i];
                            detallesHtml += '<tr>';
                            detallesHtml += '<td>' + detalle.nombre + '</td>';
                            detallesHtml += '<td>' + detalle.categoria + '</td>';
                            detallesHtml += '<td>' + detalle.cantidad + '</td>';
                            detallesHtml += '<td>' + detalle.precio + '</td>';
                            detallesHtml += '<td>' + detalle.sub_total + '</td>';
                            detallesHtml += '</tr>';

                            totalSubtotal += parseFloat(detalle.sub_total);
                        }

                        // Mostrar los detalles de la compra en la ventana modal
                        $('#detalleCompra').html(detallesHtml);

                        // Agregar el total al final de la tabla
                        $('#totalSubtotal').text(totalSubtotal.toFixed(2)); 

                        $('#detalleModal').modal('show');
                    },
                    error: function (xhr, status, errorThrown) {
                        console.error('Error: ' + errorThrown);
                    }
                });
            });
        });
    </script>
{% endblock %}